.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 40px;
}

.product-info{
    margin: 0px 25px;
}
.product-name{
    color: darkcyan;
}
.add-to-cart{
    background-color: goldenrod;
    width: 180px;
    padding: 3px;
    border-radius: 8px;
}